
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

table {
    margin: 30px auto;
    border-collapse: collapse;
    min-width: 800px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

table caption {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: 200;
    text-align: left;
}

table thead th:nth-child(-n+2) {
    background-color: #38383f;
}

table th,
table td {
    padding: 15px 8px;
}

table tbody tr {
    border-bottom: 1px solid #ddd;
}

table tbody td:nth-child(1) {
    text-align: center;
}

table tbody tr:nth-last-of-type(even){
    background-color: #f1f1f1;
}

table tbody tr:hover {
    background-color: #15151e;
    color: white;
    font-weight: 700;
    cursor: pointer;
    font-size: 2.6em;
}

table tbody tr:last-of-type {
    border-bottom: 1px solid #e10600;
}

table thead {
    background-color: #e10600;
    color: white;
}

table tfoot {
    display: none;
}